<h1><%= @suitcase.name %></h1>

<p>
  <% @suitcase.each do |suitcase| %>
    <ul>
      <li><%= suitcase.description %></li>
      <li>Duration: <%= suitcase.duration %> days</li>
      <li>Destination: <%= suitcase.destination %></li>
    </ul>
  <% end %>
</p>
